.last-info
  .last-info__inner.container

    .last-info__section
      .last-info__header Header
      .last-info__posts
      .last-info__blogroll

    .last-info__section
      .last-info__header Header
      .last-info__labels

    .last-info__section
      .last-info__header Header
      .last-info__comments
      .last-info__logo