extends doctype

block variables
	- let isCarousel = true

block body

	include includes/navbar

	.grid-layout.container
		.grid-layout.header
			.header__title TemplateBlog
			| Lorem ipsum, dolor sit amet consectetur adipisicing elit!

		include includes/carousel

		.grid-layout.grid-layout--sidebar
			.grid-layout
				block content

			include includes/sidebar

	include includes/common-links
	include includes/footer