extends doctype

block body

  include includes/navbar

  .container
    .section.header
      .header__title TemplateBlog
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit!

    include includes/carousel

    .section.section.section--1fr-250
      .section
        block content

      include includes/sidebar

  include includes/last-info

  include includes/footer