.about {
  display: grid;
  justify-items: center;
  align-items: center;

  &__image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: $pink;
    overflow: hidden;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 10px 0;
  }

  &__content {
    font-size: $font-sm;
    text-align: center;
  }
}