.common-links {
  padding: 30px 0;
  margin-top: 20px;
  background-color: $dark;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }

  &__section {
    display: grid;
    grid-template-rows: repeat(2, min-content);

    &:nth-child(2) {
      grid-row: span 2;
    }
  }

  &__header {
    font-size: $font-xl;
    text-transform: uppercase;
    color: $light;
    padding-bottom: 15px;
    border-bottom: 1px dotted $light;
  }

  &__links {
    margin: 10px 0;
    padding-left: 10px;
    list-style: square;
  }

  &__item {
    margin: 5px 0;
  }

  &__link {
    font-size: $font-lg;
    color: $pink;

    &:hover {
      text-decoration: underline;
    }
  }

  &__tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__tag {
    color: $dark;
    font-size: $font-lg;
    padding: 8px 5px;
    background-color: $tercary;
    margin: 10px 5px;
    transition: 0.3s;

    &:hover {
      text-decoration: underline;
      transform: scale(1.1);
    }
  }

  &__brand {
    text-align: center;
    font-size: 4rem;
    font-family: $font-coming-soon;
    color: $pink;
  }
}