.header {
  padding-top: $navbar-height + 50px;
  padding-bottom: 50px;
  font-size: $font-md;
  text-align: center;

  &__title {
    margin-bottom: 5px;
    font-size: $font-brand-md;
    font-family: $font-coming-soon;
  }
}