.footer {
  width: 100%;
  background-color: #000;

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }

  &__license {
    font-size: $font-sm;
    color: $light;
  }

  &__links {
    justify-self: end;
  }

  &__link {
    font-size: $font-sm;
    color: #eb5151;
    margin: 0 10px;
  }
}