h6
  strong Normal paragraph
p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis sint obcaecati minus optio praesentium ut quibusdam, suscipit cum, illum expedita tempora in temporibus aspernatur nam, ab sit id! Eius, fuga?
h6
  strong Normal link
a(href="#") Download Free
br
h6
  strong Paragraph with format
p.
  Lorem ipsum dolor sit <strong>amet</strong> consectetur 
  adipisicing elit. Quas <del>laborum consequuntur</del> 
  eius nulla, natus dolorum <sub>est</sub> <sup>ipsa</sup> 
  repellat <u>voluptas</u> aliquid amet <em>alias aspernatur</em> quo odio delectus optio 
  distinctio, beatae commodi.
h6
  strong A paragraph as code
code
  pre.
    hello = "Hello world"
    for i in range(len(hello)):
      print(hello)
h6
  strong A paragraph as blockquote
blockquote.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam adipisci nostrum optio aliquid cum iure id perferendis qui ea. Dicta!
h6
  strong Unordered list
ul
  li Blog
  li Link
  li Templates
  li Articles
h6
  strong Ordered list
ol
  li First
  li Second
  li Third
  li Four
h6
  strong Headings
h1 Heading 1
h2 Heading 2
h3 Heading 3
h4 Heading 4
h5 Heading 5
h6 Heading 6
h6
  strong Table
table
  thead
    th Table Header 1
    th Table Header 2
    th Table Header 3
  tbody
    tr
      td Division 1
      td Division 2
      td Division 3
    tr
      td Division 1
      td Division 2
      td Division 3
    tr
      td Division 1
      td Division 2
      td Division 3