.slider-links
  a.slider-links__item(href="#")
    .slider-links__pane
      img.slider-links__image(src="public/img/mindfulness.jpg" alt="image" width="125")
    .slider-links__description < What is Mindfulness?
  a.slider-links__item(href="#")
    .slider-links__pane
      img.slider-links__image(src="public/img/coconut-oil.jpg" alt="image"  width="125")
    .slider-links__description Health Benefits of Coconut oil >