@font-face {
  font-family: 'Roboto';
  src: url(../font/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Coming Soon';
  src: url(../font/ComingSoon-Regular.ttf);
}

@font-face {
  font-family: 'Calligraffiti';
  src: url(../font/Calligraffitti-Regular.ttf);
}