$dark: #343a40;
$light: #f8f9fa;
$gray: #999;
$pink: #f5989f;
$pink-darker: #ec3b48;
$tercary: #ffded9;

// Brand Colors
$facebook-color: #0064E0;
$facebook-gradient: linear-gradient(
  180deg, #17AAFC, #0064E0
);

$instagram-color: #e1306c;
$instagram-gradient: linear-gradient(
  45deg,
  #405de6, #5851db,
  #833ab4, #c13584,
  #e1306c, #fd1d1d
);

$pinterest-color: #d33535;
$vk-color: #4a76a8;
$twitter-color: #43D6FC;
$youtube-color: #ff0000;
$whatsapp-color: #1AE984;
$mail-color: #C04136;

$font-roboto: 'Roboto', 'Arial', sans-serif;
$font-open-sans: 'OpenSans', 'Arial', sans-serif;
$font-coming-soon: 'Coming Soon', cursive;
$font-calligraffiti: 'Calligraffiti', cursive;

$font-brand-md: 5rem;

$font-title-xl: 3.5rem;
$font-title-lg: 2.8rem;
$font-title-md: 2.4rem;
$font-title-sm: 2rem;

$font-xl: 2rem;
$font-lg: 1.8rem;
$font-md: 1.6rem;
$font-sm: 1.4rem;
$font-xs: 1.2rem;

$screen-xl: 1200px;
$screen-lg: 1024px;
$screen-md: 768px;
$screen-sm: 425px;
$screen-xs: 320px;

$navbar-height: 50px;