.grid-layout {
  display: grid;
  width: 100%;

  &--sidebar {
    grid-template-columns: 1fr 250px;
    grid-gap: 0 20px;
    align-items: start;
  }

  &--3col {
    grid-template-columns: repeat(3, 1fr);
  }

  &--add-article-form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
    grid-gap: 20px;
  }

  &--span2 {
    grid-column: span 2;
  }

  &--span3 {
    grid-column: span 3;
  }
}
