.about.about--inline
  .about__pane
    img.about__image(
      src="public/img/avatar.jpg"
      alt="Image"
      width="300"
    )
  .about__title TemplateBlog
  a.about__content(href="#").
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aut perspiciatis ut illum eligendi voluptates odio nemo. 
    Alias mollitia eligendi distinctio odio quaerat est 
    velit illo qui, officiis minima doloremque praesentium?