.footer
  .footer__inner.container
    .footer__license &copy; 2020 created by template
      a.footer__link(href="https://btemplates.com/2020/blogger-template-cihuatl/") Cihuatl
    .footer__links
      a.footer__link(href="#") Home
      a.footer__link(href="#") Contacts