.last-info
  .last-info__inner.container

    .last-info__section
      .last-info__header Latest blog posts
      .last-info__content.list-posts.list-posts--dark-theme
        .list-posts__item
          a.list-posts__link(href="#")
            .list-posts__pane.list-posts__pane--small
              img.list-posts__image(src="public/img/mastodon.jpg", alt="image")
            .list-posts__title Mastodon, a much better twitter
            .list-posts__content.
              Mastodon  isn’t just a website, it is a federation—think Star Trek. Thousands of independ…

        .list-posts__item
          a.list-posts__link(href="#")
            .list-posts__pane.list-posts__pane--small
              img.list-posts__image(src="public/img/mastodon.jpg", alt="image")
            .list-posts__title Mastodon, a much better twitter
            .list-posts__content.
              Mastodon  isn’t just a website, it is a federation—think Star Trek. Thousands of independ…

    .last-info__section
      .last-info__header Labels
      .last-info__content
        .last-info__tags
          a.last-info__tag(href='#') Health
          a.last-info__tag(href='#') Tech
          a.last-info__tag(href='#') Travel
          a.last-info__tag(href='#') Women

    .last-info__section
      .last-info__header Comments
      .last-info__content.comments

        .comments__item
          .comments__pane
            img.comments__image(src="public/img/coconut-oil.jpg", alt="image")
          a.comments__content(href='#')
            b.comments__user-name TemplateUser:
            | Lorem ipsum dolor sit amet consectetur adipisicing elit?
        
        .comments__item
          .comments__pane
            img.comments__image(src="public/img/acupuncture.jpg", alt="image")
          a.comments__content(href='#')
            b.comments__user-name TemplateUser:
            | Lorem ipsum dolor sit amet consectetur adipisicing elit? 

        .comments__item
          .comments__pane
            img.comments__image(src="public/img/coconut-oil.jpg", alt="image")
          a.comments__content(href='#')
            b.comments__user-name TemplateUser:
            | Lorem ipsum dolor sit amet consectetur adipisicing elit?

    .last-info__section
      .last-info__header Blogroll
      .last-info__content
        ul.last-info__links
          li.last-info__item
            a.last-info__link(href="#") Open Themes
          li.last-info__item
            a.last-info__link(href="#") BTemplates Blog
          li.last-info__item
            a.last-info__link(href="#") Blog and Web

    .last-info__section
      .last-info__header Logo
      .last-info__content
        .last-info__brand TemplateBlog