.subscribe {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 20px 10px;
  background-color: $pink;
  position: relative;

  &:hover .subscribe__icon {
    transform: rotateZ(5deg);
  }

  &__icon {
    position: absolute;
    font-size: 5rem;
    color: $light;
    top: -10px;
    right: -10px;
    transition: 0.5s;
    opacity: 0.6;
    transform: rotateZ(20deg);
  }

  &__header {
    font-size: $font-xl;
    padding: 0 70px;
    font-family: cursive;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px dotted $dark;
  }

  &__description {
    font-size: $font-sm;
    text-align: center;
  }
}